body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  max-width: 1300px;

}

#recipeAppContainer {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

#pantryAppContainer {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-style: normal;
}

a {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navBarButtons {
  display: flex;
  gap: 20px;
}