* { 
    box-sizing: border-box;
}

.pantry { 
    border: 1px solid black;
    flex:1;
    height: 500px;
    
    display: flex;
    flex-direction: column;

    text-align: center;

    position: relative;
    left: 50px;

    border-radius: 50px;

}

.pantry-input { 
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    font-size: 18px;
}

.items-list { 
    list-style-type: none;
    text-align: left; 
    
    position: relative;
}

.item { 
    padding-top: 5px;
    font-size: 22px;
}

.pantry-button:hover { 
    background-color: rgb(255, 255, 133);
}

.pantry-button { 
    width: 20px;
    height: 20px;
    
    border: black;
}

.add { 
    color: green;
    background-color: rgb(138, 255, 138); 
}

.remove { 
    color: red;
    background-color: rgb(255, 138, 138);
}