.recipeContainer {
    display: flex;
    flex-direction: column;
    min-width: 800px;

}

.recipeTitle {
    border: 1px solid black;
    border-radius: 40px;
    margin: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.recipeBottom {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    border-radius: 40px;
    margin: 5px;
    min-height: 500px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.refreshButton:hover { 
    color: black;
    background-color: rgb(255, 255, 133);
}

.refreshButton {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    color: #F7FE8A;
    border: 0px;
}

.placeholder {
    width: 100px;
    height: 50px;
    border-radius: 30px;
}